/*头部上方的空白*/
.head_top{
   width: 100%;
   height: 90px;
   background: #fff;
}

/*头部*/
#head{
	width: 100%;
	height: 70px;
	background: #b9cfed;
	padding-right: 7.8%;
	box-sizing: border-box;
}
.head_left{
	color: #fff;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	float: left;
	font-weight: 400;
	line-height: 70px;
	padding-left: 7.8%;
	box-sizing: border-box;
}
.head_left span{
	font-weight: 600;
}
.head_right{
	background: #a7a9ac;
	float: right;
	margin-top: 14px;
} 
.head_right a{
	display: block;
	padding: 10px 16px;
	color: #fff;
}

/*主题*/
#theme{
	width: 100%;
	height: 86px;
	border-bottom: 1px solid #aaaaaa;
	overflow: hidden;
	margin: 0 auto;
}
.nav{
	width: 1140px;
	height: 100%;
	/*background: red;*/
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	padding: 0 23%;
	/*display: none;*/
}
.nav li{
	margin: 0 27px;
	float: left;
	margin-top: 40px;
}
.nav li a{
	font-size: 16px;
	color: #a7a9ac;
}
.nav li .first{
	color: #b9cfed;
}
.nav li .then{
	color:#000;
}

/*banner*/
#banner{
	text-align: center;
	padding: 3em 0;
}
.contain{
	/*width: 1170px;*/
	padding: 0 15px;
	margin: 0 auto;
	position: relative;
	box-sizing: border-box;
}

#banner .contain .item{
    text-align: center;
}
#banner .contain .item a{
	display: block;
	font-weight: 900;
    line-height: .8;
    overflow: hidden;
    color: #a7a9ac;
    font-size: 80px;
    font-family: 'Signika', sans-serif;
    font-style: italic;
}
#banner .contain .item p{
	font-weight: 400;
    line-height: .8;
    overflow: hidden;
    color: #999999;
    font-size: 18px;
    padding-top: 34px;
}


/*照片区域*/
.photo .pic{
	text-align: center;
}
.photo .pic .pic_bottom{
	background-color: #B9CFED;
    width: 115.6%;
    height: 270px;
    position: absolute;
    left: -100px;
    bottom: -93px;
    z-index: -12;
}


/*技能展示*/
#skill{
	margin-top: 140px;
	margin-bottom: 80px;
}
#skill .contain .skill_info h3{
	font-size: 35px;
	color: #a7a9ac;
	text-align: center;
	font-weight: 600;
    line-height: 24px;
    letter-spacing: 3px;
    font-family: 'Signika', sans-serif;
    font-style: italic;
}
.study h4{
	font-size: 20px;
	color: #000;
	font-weight: 400;
	padding-bottom: 9px;
}
.study .progress{
	width: 100%;
	height: 20px;
    background-color: #F2F1F1;
    margin-bottom: 20px;
    overflow: hidden;
}
.study .progress .html_p,.css_p,.js_p{
	width: 70%;
	height: 100%;
	float: left;
    background: #b9cfed;	
}
.study .progress .js_p{
	width: 60%;
}


/*作品展示*/
#portfolio .contain h3{
	font-size: 35px;
	color: #a7a9ac;
	text-align: center;
	font-weight: 600;
    line-height: 24px;
    letter-spacing: 3px;
    font-family: 'Signika', sans-serif;
    font-style: italic;
    margin-bottom: 30px;
}
.grade{
	padding: 2px;
}
.grade a{
	position: relative;
    display: block;
    overflow: hidden;
}
.grade a img{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.grade a .dis{
	position: absolute;
    width: 100%;
    height: 98.4%;
    top: 0;
    left: 0;
    text-align: center;
    overflow: hidden;
    background: rgba(185,207,237,0.6);
    opacity: 0;
}
.grade a .dis span{
	position: absolute;
    top: 43%;
    left: 43%;
    opacity: 0;
    /*transition: all 0.5s;*/
}
.grade a:hover .dis{
	opacity: 0.8;
}
.grade a:hover .dis span{
	/*transform: translateX(470%);*/
	opacity: 1;
}



/*联系我*/
#contact{
	margin-bottom: 112px;
}
.contact_top{
	padding-top: 112px;
}
.contact_top h3{
	font-size: 35px;
	color: #a7a9ac;
	text-align: center;
	font-weight: 600;
    line-height: 24px;
    letter-spacing: 3px;
    font-family: 'Signika', sans-serif;
    font-style: italic;
    margin-bottom: 30px;
}
.contact_top h4{
	color: #555;
    font-size: 1em;
    line-height: 1.5em;
    width: 50%;
    margin: 0 auto 3em auto;
    text-align: center;
    font-weight: 400;
}
#contact .container .row h3{
    color: #A7A9AC;
    font-size: 22px;
    font-weight: 400;
    padding: 0 0 .5em;
    font-family: 'Signika', sans-serif;
}
#contact .container .row form{
	display: block;
	margin-top: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #333;
}
#contact .container .row form .text{
	padding: 15px 0;
    width: 90%;
    font-size: 1em;
    margin: 10px 0;
    color: #999;
    background: none;
    outline: none;
    border-bottom: 1px solid #D4D4D4;
    border-top: none;
    border-left: none;
    border-right: none
}
#contact .container .row textarea{
	background: none;
    display: block;
    width: 100%;
    padding: 5px 0;
    outline: none;
    margin-top: 28px;
    font-size: 1em;
    color: #999;
    height: 210px;
    resize: none;
    box-sizing: border-box;
}

#contact .sub{
	cursor: pointer;
    border: none;
    outline: none;
    background: none;
    color: #fff;
    background: #b9cfed;
    padding: 10px 40px;
    margin-top: 0.5em;
    margin-left: 2em;
    text-align: center;
}
#contact .sub:hover{
	color: #fff;
    background: #000;
}


/*底部*/
#foot .copy{
	background: #b9cfed;
    padding: 2em 0;
    text-align: center;
}
#foot .copy p{
	font-size: 1em;
    color: #fff;
    font-weight: 500;
}

/*返回顶部*/
.back{
	text-decoration: none;
    position: fixed;
    bottom: 14px;
    right: 3%;
    overflow: hidden;
    width: 40px;
    height: 40px;
    border: none;
    text-indent: 100%;
    background: url("../img/to-top1.png") no-repeat 0px 0px;
}






























@media screen and (min-width:1200px ) {
	.contain{
		width: 1170px;
	}
}
@media screen and (max-width:1200px ) and (min-width:992px ){
	.contain{
		width: 970px;
	}
}
@media screen and (max-width:992px ) and (min-width:768px ){
	.contain{
		width: 750px;
	}
}
@media screen and (max-width:768px ) {
	.contain{
		width: 100%;
	}
}